.vscode/
.idea/
cmake-build-wsl-debug/
cmake-build-wsl-default/
cmake-build/
cmake-build-debug/
cmake-build-release/
build/
Makefile
etc/
trivial/
*.out
public/
recipes/
/test/
*.gch
*.h.gch
*.bak
core
*.mp4
*.mp3